* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Sans-Serif;
}

section {
  position: relative;
  top: 0;
  left: 0;
  gap: 20px;
  width: 100%;
  display: flex;
  min-height: 100vh;
  padding: 20px 30px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
textarea,p {
  width: 100%;
  height: 300px;
  padding: 20px;
border: 1px solid #000;
overflow-y: scroll;
}